.boxNewTask {
    display: flex;
    justify-content: center;
    margin: 5rem;
    margin-top: -1.6rem;

}

.boxNewTask form {
    display: flex;
    max-width: 700px;
    gap: 1rem;
    align-items: center;
    width: 100%;
    justify-content: center;

}


.boxNewTask input {

    background: var(--gray-500);
    border: 0;
    resize: none;
    padding: 1rem;
    border-radius: 8px;
    flex-grow: 1;
    color: var(--gray-100);
    min-width: 95%;



}

.boxNewTask input :hover {

    box-shadow: 0 0 0 10px var(--blueDark);

}



.boxNewTask button {
    background-color: var(--blueDark);
    border: 0;
    border-radius: 8px;
    padding: 1rem;
    color: var(--gray-100);
    align-items: center;
    cursor: pointer;
    display: flex;



}



.boxNewTask button svg {
    margin-left: 0.3rem;

}